<h1>Team members</h1>

<div class="row" style="place-content: center; margin: 10px; text-align: center;">
  <div class="col-4 mt-4">
    <mat-card class="example-card">
      <mat-card-header style="justify-content: center;">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> Dice of destiny 🎲</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image 
        src="./../../assets/2022_Louis.jpg"
        alt="Photo of louis"
      />
      <mat-card-content>
        <p>李享 Louis: 111062699</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-4 mt-4">
    <mat-card class="example-card">
      <mat-card-header style="justify-content: center;">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Accountant of Silence 🤫</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="./../../assets/2022_Brian.jpg"
        alt="Photo of louis"
      />
      <mat-card-content>
        <p>許昱呈 Brian: 111164519</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-4 mt-4">
    <mat-card class="example-card">
      <mat-card-header style="justify-content: center;">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> Child of ideal land 👶🏻</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="./../../assets/2022_Jerry.jpg"
        alt="Photo of louis"
      />
      <mat-card-content>
        <p>何名居 Jerry: 111065501</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4 mt-4">
    <mat-card class="example-card center">
      <mat-card-header style="justify-content: center;">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Princess of The Flawless 👸🏼</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./../../assets/2022_Kevin.jpg" />
      <mat-card-content>
        <p>楊智堯 Kevin: 111065542</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4 mt-4">
    <mat-card class="example-card center">
      <mat-card-header style="justify-content: center;">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title >
          Sword of Samurai 🗡️
        </mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="./../../assets/2021_Eernesto.jpg"
      />
      <mat-card-content>
        <p>吳歆桐 Ernesto: 110062428</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
